<h1><%= t 'user.terms.heading' %></h1>

<p><%= t 'user.terms.read and accept' %></p>

<div id="contributorTerms">
  <p>Dies ist ein Mapserver der Piratenpartei. Er darf von allen Piraten und Freibeutern genutzt werden, um piratenrelevante Geodaten zu erfassen.</p>
  <p>Bitte übernehme keine Daten aus urheberrechtlich geschützten Quellen! Daten, die auf dieser Karte erfasst werden, dürfen von jedem uneingeschränkt kostenlos verwendet werden. Indem du Daten hier einstellst, bestätigst du, dass du sie als gemeinfrei ("public domain") ansiehst bzw. nach <a href="http://creativecommons.org/publicdomain/zero/1.0/deed.de">CC0</a> freigibst. Dies gilt unabhängig von evtl. widersprüchlichen Texten oder Einstellungen.</p>
  <p>Die Karte im Hintergrund stammt von OpenStreetMap (siehe Lizenzhinweis unten auf der Karte).</p>
  <p>Es gibt keine Garantien für die Funktionsfähigkeit, Verfügbarkeit, Datensicherheit oder sonstige Eigenschaften. Die für diese Website verwendete Software stammt ursprünglich von OpenStreetMap. Du wirst daher ggf. an einigen Stellen nicht geänderte Hinweise auf OpenStreetMap und die dort verwendete Lizenz finden. Wir bitten dies zu entschuldigen. Bitte verwende die Blogfunktion nicht. Sie ist halb kaputt und kann jederzeit ohne Vorwarnung entfernt werden.</p>
</div>

<%= form_tag({:action => "save"}, { :id => "termsForm" }) do %>
  <p>
    <label for="fakecheckbox">Ich betrachte meine Einträge als gemeinfrei/Public Domain</label>
	<!-- check and hide original checkbox, add disabled always-checked checkbox for display (disabled boxes dont get POSTed, disabling the original box causes trouble) -->
	<input type="checkbox" id="fakecheckbox" name="fakecheckbox" checked="checked" disabled="disabled">
    <%= check_box('user', 'consider_pd', {:checked => "checked", :style =>"display: none;"} ) %>
  </p>
  <p>
    <%= hidden_field_tag('referer', h(params[:referer])) unless params[:referer].nil? %>
    <% if @user.new_record? %>
      <%= hidden_field('user', 'email') %>
      <%= hidden_field('user', 'email_confirmation') %>
      <%= hidden_field('user', 'display_name') %>
      <%= hidden_field('user', 'pass_crypt') %>
      <%= hidden_field('user', 'pass_crypt_confirmation') %>
      <%= hidden_field('user', 'openid_url') %>
    <% end %>
    <div id="buttons">
      <%= submit_tag(t('user.terms.decline'), :name => "decline", :id => "decline") %>
      <%= submit_tag(t('user.terms.agree'), :name => "agree", :id => "agree") %>
    </div>
  </p>
  <br clear="all" />
  <p id="contributorGuidance"><%= raw t 'user.terms.guidance', :summary => 'http://www.osmfoundation.org/wiki/License/Contributor_Terms_Summary', :translations => 'http://www.osmfoundation.org/wiki/License/Contributor_Terms/Informal_Translations' %></p>
<% end %>
